.DS_Store
__pycache__/
downloads/
build/
yt_dl_cli.egg-info/
*.py[cod]
*$py.class
.vscode/
.idea/
.venv/
*.crt
readme.txt
links.txt
.pylintrc
.mypy_cache/
.pytest_cache/
video_downloader.py
test.py
Pipfile
Pipfile.lock