[MASTER]
# Отключаем проблемный чекер imports
disable=astroid-error,import-error

# Игнорируем определенные пути
ignore-paths=.venv,downloads
ignore-patterns=video_downloader.py

[MESSAGES CONTROL]
# Отключаем фатальные ошибки для продолжения анализа
disable=
    R0903,  # Too few public methods
    C0413,  # Import should be placed at the top
    C0415,  #I mport outside toplevel (builtins)
    W2301   # Unnecessary ellipsis constant