[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
yt-dlp = "*"
colorama = "*"
types-colorama = "*"
flake8 = "*"
pylint = "*"
mypy = "*"
yt-dl-cli = {file = "."}

[dev-packages]

[requires]
python_version = "3.13"
