[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yt-dlp = "2025.5.22"
flake8 = "7.2.0"
pylint = "3.3.7"
mypy = "1.16.0"
yt-dl-cli = {file = "."}

[dev-packages]

[requires]
python_version = "3.13"
